<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript">
        var ROOT_PATH = '/php-js-playground/wtevr-backbone-js-model/web';
    </script>
    
    <script type="text/javascript" src="assets/js/libs/jquery/jquery.js"></script>
    <script type="text/javascript" src="assets/js/libs/jquery/plugins/jquery.simplePagination.js"></script>
    <script type="text/javascript" src="assets/js/libs/backbone/underscore.js"></script>
    <script type="text/javascript" src="assets/js/libs/backbone/backbone.js"></script>
    <script type="text/javascript" src="assets/js/libs/bootstrap/bootstrap.min.js"></script>
    
  </head>
  <body>

    
    <div class="container">
        <h1>Hello, Backbone & Underscore!</h1>
        
        <div id="backbone_container">
        
        </div>
    </div>
    
    <!-- BEGIN TEMPLATES -->
    <script type="text/template" id="search_template">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter search query here">
        <span class="input-group-addon">seach</span>
        </div>
    </script>
    
    
    <script type="text/template" id="employee_table_template">
        
        <div id="<%= cid %>">
            <a role="button" href="#new" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> add new employee</a>
            <div id="pagination_container"></div>
            <div id="pagination_settings_container">
                Entries per page:
                <select id="entries_per_page">
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                </select>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th data-filter-property="id">Id <span class="glyphicon glyphicon-sort-by-attributes"</span></th>
                        <th data-filter-property="firstname">Name</th>
                        <th data-filter-property="lastname">Lastname</th>
                        <th data-filter-property="position">Position</th>
                        <th data-filter-property="salary">Salary</th>
                        <th data-filter-property="age">Age</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
    
            
        </div>        
                
    </script>
    
    
    
    <script type="text/template" id="basic_bootstrap_paginator_page_template">
        <li data-type="<%=dataType %>" <% if active %> class="active" <% endif %> >
            <a href="#"><%= page %></a>
        </li>
    </script>
  
    
    <script type="text/template" id="employee_table_row_view_template">
    <tr id="employee_view_<%= model.get('id') %>">
        <td data-property="id"><%= model.get('id') %></td>
        <td data-property="firstname"><%= model.get('firstname') %></td>
        <td data-property="lastname"><%= model.get('lastname') %></td>
        <td data-property="position"><%= model.get('position') %></td>
        <td data-property="salary"><%= model.get('salary') %> €</td>
        <td data-property="age"><%= model.get('age') %></td>
        <td>
            <a class="btn btn-primary" data-id="edit_btn">edit</a>
            <a class="btn btn-primary" data-id="delete_btn">delete</a>
        </td>
    </tr>
    </script>
    
    
    <script type="text/template" id="employee_add_template">
        <h2>Add new employee</h2>
        
        <form role="form" method="post" action="http://localhost:8888/php-js-playground/wtevr-backbone-js-model/web/backbone/employee">
            <div class="form-group">
                <label for="name">Firstname</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter name"/>
            </div>
            
            <div class="form-group">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter lastname"/>
            </div>
                
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" class="form-control" id="position" name="position" placeholder="Enter position"/>
            </div>
                
            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="text" class="form-control" id="salary" name="salary" placeholder="Enter salary in €"/>
            </div>
                
            <div class="form-group">
                <label for="age">Age</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="Enter age">
            </div>
                
            <button type="submit" class="btn btn-default btn-primary">Add</button>
            <a href="#" id="cancel_btn" class="btn btn-default btn-warning">Cancel</a>
            <a href="#" id="random_generator" class="btn btn-default btn-info">Auto-fill</a>
        </form>
    </script>
    
    <script type="text/template" id="employee_table_row_edit_template">
    <tr id="employee_edit_<%= model.get('id') %>">
        <td><%= model.get('id') %></td>
        <td>
            <input type="text" name="firstname" class="form-control"
                   value="<%= model.get('firstname') %>"/>
        </td>
        <td>
            <input type="text" name="lastname" class="form-control"
                   value="<%= model.get('lastname') %>"/>
        </td>
        <td>
            <input type="text" name="position" class="form-control"
                   value="<%= model.get('position') %>"/>
        </td>
        <td>
            <input type="text" name="salary" class="form-control"
                   value="<%= model.get('salary') %>"/>
        </td>
        <td>
            <input type="text" name="age" class="form-control"
                   value="<%= model.get('age') %>"/>
        </td>
        <td>
            <a class="btn btn-primary" data-id="save_btn">save</a>
            <a class="btn btn-primary" data-id="cancel_btn">cancel</a>
        </td>
    </tr>
    </script>
    
    <!-- END   TEMPLATES -->
    
    
    <!--
    <script src="assets/js/Employee/EmployeeModel.js"></script>
    <script src="assets/js/Employee/EmployeeCollection.js"></script>
    <script src="assets/js/Employee/EmployeeListView.js"></script>
    <script src="assets/js/Employee/EmployeeTableRowView.js"></script>
    <script src="assets/js/Employee/EmployeeListView.js"></script>
    <script src="assets/js/Employee/EmployeeTableRowEditView.js"></script>
    -->
    
    <!-- SCRIPT TEMPLATES -->
    
    <script type="text/javascript" src="assets/js/app/wtevr/WtevrValidator.js"></script>
    <script type="text/javascript" src="assets/js/app/models/EmployeeModel.js"></script>
    <script type="text/javascript" src="assets/js/app/collections/EmployeeCollection.js"></script>
    <script type="text/javascript" src="assets/js/app/views/EmployeeListView.js"></script>
    <script type="text/javascript" src="assets/js/app/views/EmployeeAddView.js"></script>
    <script type="text/javascript" src="assets/js/app/views/EmployeeTableRowView.js"></script>
    <script type="text/javascript" src="assets/js/app/views/EmployeeTableRowEditView.js"></script>
    <script type="text/javascript" src="assets/js/app/views/BootstrapPaginatorView.js"></script>
    
    <script type="text/javascript" src="assets/js/logic.js"></script>
    
  </body>
</html>