<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript">
        var ROOT_PATH = '/php-js-playground/wtevr-backbone-js-model/web';
    </script>
  </head>
  <body>

    
    <div class="container">
        <h1>Hello, Backbone & Underscore!</h1>
        <div id="search_container"></div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Lastname</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Age</th>
                    <th>Options</th>
                </tr>
            </thead>
            
            <tbody id="employee_table_body">
            </tbody>
        </table>
        
    </div>
    
    <!-- BEGIN TEMPLATES -->
    <script type="text/template" id="search_template">
        <div class="input-group">
        <input type="text" class="form-control" placeholder="Enter search query here">
        <span class="input-group-addon">seach</span>
        </div>
    </script>
    
    <script type="text/template" id="employee_table_row_view_template">
    <tr id="employee_view_<%= model.get('id') %>">
        <td data-property="id"><%= model.get('id') %></td>
        <td data-property="firstname"><%= model.get('firstname') %></td>
        <td data-property="lastname"><%= model.get('lastname') %></td>
        <td data-property="position"><%= model.get('position') %></td>
        <td data-property="salary"><%= model.get('salary') %> €</td>
        <td data-property="age"><%= model.get('age') %></td>
        <td>
            <a class="btn btn-primary" data-id="edit_btn">edit</a>
            <a class="btn btn-primary" data-id="delete_btn">delete</a>
        </td>
    </tr>
    </script>
    
    <script type="text/template" id="employee_table_row_edit_template">
    <tr id="employee_edit_<%= model.get('id') %>">
        <td><%= model.get('id') %></td>
        <td>
            <input type="text" name="firstname" class="form-control"
                   value="<%= model.get('firstname') %>"/>
        </td>
        <td>
            <input type="text" name="lastname" class="form-control"
                   value="<%= model.get('lastname') %>"/>
        </td>
        <td>
            <input type="text" name="position" class="form-control"
                   value="<%= model.get('position') %>"/>
        </td>
        <td>
            <input type="text" name="salary" class="form-control"
                   value="<%= model.get('salary') %>"/>
        </td>
        <td>
            <input type="text" name="age" class="form-control"
                   value="<%= model.get('age') %>"/>
        </td>
        <td>
            <a class="btn btn-primary" data-id="save_btn">save</a>
            <a class="btn btn-primary" data-id="cancel_btn">cancel</a>
        </td>
    </tr>
    </script>
    
    <!-- END   TEMPLATES -->
    
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/underscore.js"></script>
    <script src="assets/js/backbone-dev.js"></script>    
    
    <script src="assets/js/Employee/EmployeeModel.js"></script>
    <script src="assets/js/Employee/EmployeeCollection.js"></script>
    <script src="assets/js/Employee/EmployeeListView.js"></script>
    <script src="assets/js/Employee/EmployeeTableRowView.js"></script>
    <script src="assets/js/Employee/EmployeeListView.js"></script>
    <script src="assets/js/Employee/EmployeeTableRowEditView.js"></script>
    <script type="text/javascript" src="assets/js/logic.js"></script>
    
  </body>
</html>